* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "larsseit regular";
  src: url("../../webfonts/Larsseit.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "larsseit bold";
  src: url("../../webfonts/Larsseit-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "larsseit medium";
  src: url("../../webfonts/Larsseit-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "larsseit light";
  src: url("../../webfonts/Larsseit-Light.otf");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: rgb(84, 21, 84);
  height: 70px;
  z-index: 1000;
}
@media all and (min-width: 768px) {
  .header {
    border-radius: 50px;
  }
}
.header_img {
  height: 30px;
}
.header_menu {
  height: 60px;
}
@media all and (min-width: 768px) {
  .header_menu {
    display: none;
  }
}
.header_nav {
  display: none;
}
@media all and (min-width: 768px) {
  .header_nav {
    display: flex;
    gap: 20px;
  }
  .header_nav li {
    list-style: none;
  }
  .header_nav-link {
    color: white;
    text-decoration: none;
    font-family: larsseit regular;
    font-size: 15px;
  }
}
.header_block {
  display: none;
}
@media all and (min-width: 768px) {
  .header_block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .header_block-link1 {
    text-decoration: none;
    color: white;
    font-family: larsseit regular;
  }
  .header_block-link2 {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    font-family: larsseit bold;
    font-size: 13px;
  }
  .header_block-link3 {
    text-decoration: none;
    color: rgb(84, 21, 84);
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    font-family: larsseit bold;
    font-size: 13px;
  }
}

span {
  font-family: larsseit bold;
}

.intro {
  background-color: rgb(84, 21, 84);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 70px 0px 70px;
  gap: 20px;
}
@media all and (min-width: 768px) {
  .intro {
    flex-direction: row;
    padding-bottom: 100px;
  }
}
.intro_text {
  padding: 20px;
}
@media all and (min-width: 768px) {
  .intro_text {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}
.intro_text-titlewhite {
  font-family: larsseit medium;
  font-size: 30px;
  color: white;
}
@media all and (min-width: 768px) {
  .intro_text-titlewhite {
    width: 100%;
  }
}
.intro_text-titleorange {
  font-family: larsseit medium;
  font-size: 30px;
  color: rgb(236, 177, 47);
}
@media all and (min-width: 768px) {
  .intro_text-titleorange {
    width: 100%;
  }
}
.intro_text-par {
  font-family: larsseit regular;
  color: white;
  padding: 10px 10px 10px 0px;
}
@media all and (min-width: 768px) {
  .intro_text-par {
    width: 100%;
  }
}
.intro_text-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.intro_video-size {
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
}
@media all and (min-width: 768px) {
  .intro_video-size {
    width: 50vw;
  }
}
.intro .email-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  background-color: white;
  border-radius: 3px;
  color: rgb(84, 21, 84);
  padding: 15px;
  font-family: larsseit regular;
  width: 100%;
}
.intro .google-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  background-color: rgb(66, 132, 243);
  border-radius: 3px;
  color: white;
  padding: 15px;
  font-family: larsseit regular;
  width: 100%;
}

.about {
  background-color: rgb(245, 238, 228);
  padding-top: 100px;
  padding-bottom: 100px;
}
.about_companylogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}
.about_companylogos-logo {
  height: 30px;
}
.about_intro {
  font-family: larsseit medium;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  padding: 20px;
}
.about_tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-content: center;
  gap: 70px;
  padding-top: 100px;
}
@media all and (min-width: 768px) {
  .about_tools {
    flex-direction: row;
    align-items: center;
  }
}
.about_tools div {
  display: block;
}
.about_tools-video {
  display: none;
}
@media all and (min-width: 768px) {
  .about_tools-video {
    display: flex;
    width: 40vw;
  }
}
.about_tools-img {
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
}
@media all and (min-width: 768px) {
  .about_tools-img {
    display: none;
  }
}
.about_tools .text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 70vw;
}
@media all and (min-width: 768px) {
  .about_tools .text-box {
    width: 500px;
  }
}
.about_tools-title {
  font-family: larsseit medium;
  font-size: 30px;
}
.about_tools-par {
  font-family: larsseit regular;
  font-size: 17px;
}
.about_tools-link {
  font-family: larsseit regular;
  font-size: 15px;
  text-decoration: none;
  color: rgb(21, 100, 163);
}
.about_tools-link:hover {
  text-decoration: underline;
}
.about_toolsReverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  align-content: center;
  gap: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media all and (min-width: 768px) {
  .about_toolsReverse {
    flex-direction: row-reverse;
  }
}
.about_toolsReverse-video {
  display: none;
}
@media all and (min-width: 768px) {
  .about_toolsReverse-video {
    display: flex;
    width: 40vw;
  }
}
.about_toolsReverse-img {
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
}
@media all and (min-width: 768px) {
  .about_toolsReverse-img {
    display: none;
  }
}
.about_toolsReverse .text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70vw;
  padding: 20px;
}
@media all and (min-width: 768px) {
  .about_toolsReverse .text-box {
    width: 500px;
  }
}
.about_toolsReverse-title {
  font-family: larsseit medium;
  font-size: 30px;
}
.about_toolsReverse-par {
  font-family: larsseit regular;
  font-size: 17px;
}
.about_toolsReverse-link {
  font-family: larsseit regular;
  font-size: 15px;
  text-decoration: none;
  color: rgb(21, 100, 163);
}
.about_toolsReverse-link:hover {
  text-decoration: underline;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 100px;
  padding: 100px 150px 100px 150px;
  position: relative;
}
.teams_candado {
  display: none;
}
.teams_ordenador {
  display: none;
}
.teams_grafico {
  display: none;
}
.teams_edificio {
  display: none;
}
.teams_manos {
  display: none;
}
.teams_ciudad {
  display: none;
}
@media all and (min-width: 1000px) {
  .teams_candado {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    left: 250px;
    top: 300px;
  }
  .teams_candado p {
    font-family: larsseit light;
  }
  .teams_candado-img {
    height: 20px;
  }
  .teams_ordenador {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    right: 150px;
    top: 300px;
  }
  .teams_ordenador p {
    font-family: larsseit light;
  }
  .teams_ordenador-img {
    height: 20px;
  }
  .teams_grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    left: 100px;
    top: 150px;
  }
  .teams_grafico p {
    font-family: larsseit light;
  }
  .teams_grafico-img {
    height: 20px;
  }
  .teams_edificio {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    left: 180px;
    top: 60px;
  }
  .teams_edificio p {
    font-family: larsseit light;
  }
  .teams_edificio-img {
    height: 20px;
  }
  .teams_manos {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    right: 190px;
    top: 200px;
  }
  .teams_manos p {
    font-family: larsseit light;
  }
  .teams_manos-img {
    height: 20px;
  }
  .teams_ciudad {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(249, 249, 249);
    padding: 5px 15px 5px 15px;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 20%;
    gap: 10px;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    position: absolute;
    right: 100px;
    top: 80px;
  }
  .teams_ciudad p {
    font-family: larsseit light;
  }
  .teams_ciudad-img {
    height: 20px;
  }
}
.teams .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 70px;
}
.teams_title {
  text-align: center;
  font-family: larsseit medium;
  font-size: 50px;
}
.teams_par {
  font-family: larsseit regular;
  text-align: center;
  font-size: 17px;
  width: 70%;
}
.teams_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media all and (min-width: 768px) {
  .teams_buttons {
    flex-direction: row;
  }
}
.teams .aboutSlack {
  text-align: center;
  font-family: larsseit medium;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(84, 21, 84);
  border: 1px solid rgb(84, 21, 84);
  border-radius: 5px;
  color: white;
  width: 90vw;
  padding: 20px 50px 20px 50px;
}
@media all and (min-width: 768px) {
  .teams .aboutSlack {
    width: auto;
  }
}
.teams .sales {
  text-align: center;
  font-family: larsseit medium;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid rgb(84, 21, 84);
  border-radius: 5px;
  color: rgb(84, 21, 84);
  width: 90vw;
  padding: 20px 50px 20px 50px;
}
@media all and (min-width: 768px) {
  .teams .sales {
    width: auto;
  }
}
.teams .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 768px) {
  .teams .row {
    flex-direction: row;
  }
}
.teams_article {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}
@media all and (min-width: 768px) {
  .teams_article {
    flex-direction: row;
  }
}
.teams_article-title {
  font-family: larsseit bold;
  font-size: 55px;
  color: rgb(84, 21, 84);
}
.teams_article-par {
  font-family: larsseit regular;
  width: 60%;
  text-align: center;
  margin: 5px;
}
@media all and (min-width: 768px) {
  .teams_article-par {
    text-align: left;
  }
}

* {
  font-family: larsseit regular;
}

.maqueta {
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 238, 228);
}

img {
  height: 30px;
}

.box {
  height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.box_superior {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
}
.box_superior-botones {
  padding: 3px;
  display: flex;
  gap: 3px;
}
.box_inferior {
  display: flex;
  justify-content: space-around;
  height: 200px;
}
.box_inferior-izquierdo {
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 27, 73);
  border: 1px solid rgb(68, 27, 73);
  border-radius: 0px 0px 0px 10px;
  width: 30%;
  font-style: larsseit regular;
}
.box_inferior-derecho {
  background-color: whitesmoke;
  width: 70%;
  border: 1px solid whitesmoke;
  border-radius: 0px 0px 10px 0px;
  padding: 20px;
}

.texto-blanco {
  color: white;
}

.rojo {
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background-color: rgb(197, 57, 39);
}

.amarillo {
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background-color: rgb(218, 179, 71);
}

.verde {
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background-color: rgb(39, 197, 68);
}

.primero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding-top: 20px;
}

.proyecto {
  background-color: rgb(45, 99, 157);
  text-align: right;
  padding: 5px;
}

.canales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.titulo {
  display: none;
}
@media all and (min-width: 850px) {
  .titulo {
    display: flex;
    justify-content: space-between;
  }
}

.comentario {
  display: none;
}
@media all and (min-width: 850px) {
  .comentario {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
}

.footer {
  background-color: rgb(84, 21, 84);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 10px;
  color: white;
}
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    gap: 100px;
  }
}

li {
  list-style: none;
  font-size: 12px;
  padding: 10px;
}

ul {
  display: none;
}
@media all and (min-width: 768px) {
  ul {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */