@font-face {
    font-family: "larsseit regular";
    src: url("../../webfonts/Larsseit.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "larsseit bold";
    src: url("../../webfonts/Larsseit-Bold.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "larsseit medium";
    src: url("../../webfonts/Larsseit-Medium.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "larsseit light";
    src: url("../../webfonts/Larsseit-Light.otf");
    font-weight: normal;
    font-style: normal;
  }