.header {
  @include displayRowBetween(30px);
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  width: 100%;
  background-color: $color_bg;
  height: 80px;
  z-index: 1000;
  @media all and (min-width: 768px) {
    border-radius: 50px;
  }
  &_img {
    height: 30px;
    
  }
  &_menu {
    height: 60px;
    @media all and (min-width: 768px) {
      display: none;
    }
  }

  &_nav {
    display: none;

    @media all and (min-width: 768px) {
      display: flex;
      gap: 20px;
      

      & li {
        list-style: none;
      }
      &-link {
        color: white;
        text-decoration: none;
        font-family: larsseit regular;
        font-size: 15px;
      }
    }
  }
  &_block {
    display: none;
    @media all and (min-width: 768px) {
      @include displayRowCenter(20px);
      &-link1 {
        text-decoration: none;
        color: white;
        font-family: larsseit regular;
      }

      &-link2 {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        padding: 15px;
        font-family: larsseit bold;
        font-size: 13px;
      }

      &-link3 {
        text-decoration: none;
        color: $color_bg;
        border: 1px solid white;
        border-radius: 3px;
        background-color: white;
        padding: 15px;
        font-family: larsseit bold;
        font-size: 13px;
      }
    }
  }
}
