span {
  font-family: larsseit bold;
}

.intro {
  background-color: $color_bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 70px 0px 70px;
  gap: 20px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 100px;
  }

  &_text {
    padding: 20px;

    @media all and (min-width: 768px) {
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 500px;
    }
    &-titlewhite {
      font-family: larsseit medium;
      font-size: 30px;
      color: white;
      @media all and (min-width: 768px) {
        width: 100%;
      }
    }
    &-titleorange {
      font-family: larsseit medium;
      font-size: 30px;
      color: rgb(236, 177, 47);
      @media all and (min-width: 768px) {
        width: 100%;
      }
    }
    &-par {
      font-family: larsseit regular;
      color: white;
      padding: 10px 10px 10px 0px;
      @media all and (min-width: 768px) {
        width: 100%;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
    
  }
  &_video {
    &-size {
         width:80vw;
         height: fit-content;
         @media all and (min-width: 768px) {
            width:50vw;
         }
       
  }}
  .email-button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    border-radius: 3px;
    color: rgb(84, 21, 84);
    
    padding: 15px;
    font-family: larsseit regular;

    width: 100%;
  }
  .google-button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    background-color: rgb(66, 132, 243);
    border-radius: 3px;
    color: white;
    padding: 15px;
    font-family: larsseit regular;
    width: 100%;
  }
}
